{% include "header.html" %}

<!-- Page Header-->
<header
  class="masthead"
  style="background-image: url('../static/assets/img/inspiration.jpg')">

  <div class="container position-relative px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <div class="site-heading">
          <h1>Inspire Me!</h1>
          <span class="subheading">Inspiration and uplifting for us all</span>
        </div>
      </div>
    </div>
  </div>
</header>

<div class="col-lg-8 mx-auto p-4 py-md-5">
  <main>
    <h3 style="width: 80%; margin-left:auto; margin-right:auto">Inspirational and motivational quotes are ready to uplift you!<br>Join our mailing list for daily motivation!</h3><br>


  </main>
  <footer class="pt-5 my-5 text-body-secondary border-top">
    <p>{{ recognition_web_template }}</p>
    <p>Wallpaper by Chad on WallpaperSafari</p>
  </footer>
</div>
  <script src="{{ url_for('static', filename='js/scripts.js') }}"></script>
</body></html>


